@charset "UTF-8";
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  height: 40px;
  background-color: #000;
  opacity: 0.8;
  z-index: 100;
}

header h1 {
  padding-top: 3px;
  color: #fff;
  font-family: "Goldman", cursive;
  font-size: 30px;
  text-align: center;
  font-weight: normal;
}

@media (min-width: 750px) {
  header h1 {
    font-size: 50px;
  }
}

header a img {
  width: 40px;
}

@media (min-width: 750px) {
  header a img {
    width: 80px;
  }
}

@media (min-width: 750px) {
  header {
    height: 80px;
  }
}

.menu-block {
  padding-top: 40px;
  width: 40px;
  height: 40px;
}

@media (min-width: 750px) {
  .menu-block {
    padding-top: 80px;
    width: 80px;
    height: 80px;
  }
}

/*　ハンバーガーボタン　*/
.hamburger {
  display: block;
  position: fixed;
  z-index: 3;
  top: 0px;
  right: 0px;
  width: 40px;
  height: 40px;
  text-align: center;
}

@media (min-width: 750px) {
  .hamburger {
    top: 20px;
    right: 40px;
  }
}

.hamburger span {
  display: block;
  position: absolute;
  width: 30px;
  height: 3px;
  background: #f8b400;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media (min-width: 750px) {
  .hamburger span {
    width: 40px;
  }
}

.hamburger span:nth-child(1) {
  top: 10px;
}

@media (min-width: 750px) {
  .hamburger span:nth-child(1) {
    top: 5px;
  }
}

.hamburger span:nth-child(2) {
  top: 20px;
}

.hamburger span:nth-child(3) {
  top: 30px;
}

@media (min-width: 750px) {
  .hamburger span:nth-child(3) {
    top: 35px;
  }
}

/* ナビ開いてる時のボタン */
.hamburger.active span:nth-child(1) {
  top: 17px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.hamburger.active span:nth-child(2) {
  -webkit-transform: translate(150px);
          transform: translate(150px);
}

.hamburger.active span:nth-child(3) {
  top: 17px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

nav.gl-nav {
  position: fixed;
  z-index: 2;
  top: 40px;
  left: 0;
  color: #fff;
  text-align: center;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 100%;
  height: 100%;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

@media (min-width: 750px) {
  nav.gl-nav {
    top: 80px;
  }
}

nav.gl-nav ul {
  background: #5100a2;
  margin: 0 auto;
  width: 100%;
}

nav.gl-nav ul li {
  list-style-type: none;
  width: 100%;
  padding-left: 10px;
  border-bottom: 1px solid #2c2c2c;
  text-align: left;
}

nav.gl-nav ul li:hover {
  background-color: #f8b400;
}

nav.gl-nav ul li a {
  display: block;
  color: #fff;
  padding: 1em 0;
  text-decoration: none;
}

/* このクラスを、jQueryで付与・削除する */
nav.gl-nav.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.search {
  padding: 10px;
  background-color: #555555;
}

.search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding-left: 10px;
}

.search-box img {
  width: 16px;
}

.contents-top {
  height: 40px;
  padding-top: 40px;
}

@media (min-width: 750px) {
  .contents-top {
    height: 80px;
    padding-top: 80px;
  }
}
/*# sourceMappingURL=header.css.map */